{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col-3" style="font-size:2em; vertical-align:middle;">
        {{ review.title }}<br>{{ review.movie_title }}</th>
      <th scope="col-3" style="font-size:2em; vertical-align:middle;">평점 : {{ review.rank }}</th>
      <th scope="col-3" style="vertical-align:middle;">작성일 : {{ review.created_at }}<br><br>수정일 : {{ review.updated_at }}<br><br>조회수 : {{ review.view_count }}<br><br>영화명 : {{ review.movie }}</th>
      <th scope="col-3" style="vertical-align:middle"><a href="{% url 'reviews:movie_detail' review.movie.pk %}"><img class="d-inline" src={{ review.movie.poster_url }} style="width:200px; height:200px;"></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td class="text-right">
      	{% if request.user == review.user %}
			<a href="{% url 'reviews:update' review.pk %}">수정</a>
			<a href="{% url 'reviews:delete' review.pk %}">삭제</a>
		{% endif %}
		    <a href="{% url 'reviews:index' %}">뒤로가기</a>
      </td>
    </tr>
  </tbody>
</table>
{{ review.content }}
<p>
{% if request.user in review.like_users.all %}
<a href="{% url 'reviews:like' review.id %}" style="font-size: 2em; color: red;"><i class="far fa-kiss-wink-heart"></i></a>
{% else %}
<a href="{% url 'reviews:like' review.id %}" style="font-size: 2em; color: Dodgerblue;"><i class="far fa-kiss"></i></a>
{% endif %}
Like: {{ review.like_users.count }}
</p>
<br>
<br>
<h4>댓글 | ({{ review.comments.all.count }})</h4>
<hr>
{% for comment in review.comments.all %}
<div class="d-flex justify-content-between"><div class="d-inline col-8">{{ comment.content }} </div><div class="d-inline col-4">작성자 : {{ comment.user }}<br>작성일 : {{ comment.created_at }}
{% if request.user == comment.user %}
<br><a href="{% url 'reviews:comment_delete' review.pk comment.pk %}">댓글 삭제</a>
{% endif %}
</div></div>
<hr>
{% empty %}
<h4>댓글이 없습니다.</h4>
<hr>
{% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
	{% csrf_token %}
	{% bootstrap_form comment_form %}
	<button>댓글 작성</button>
</form>
{% endif %}
{% endblock %}